/*GENERAL*/
body{  left:0; margin:0; top:0; font-family: 'Open sans', 'Montserrat', 'Avenir', 'Lato', Arial !important; color:#2E2E2E;  background:#f2f2f2;
		min-width: 1280px;width:100%; }
header, footer, section{ width:100%;  overflow:hidden; margin-top:0; height:auto;  }
.container{margin:5px auto; min-height:200px; width:80%; height:auto; display: block;  padding:0; padding-bottom: 30px; box-shadow: 0 1px 2px rgba(0,0,0,.1);}
.content{ position:relative; margin:auto; }
a{ text-decoration:none; color:#fff; font-size: 13px; }
p{ line-height:35px; letter-spacing:0px; font-size: 13px;}
h1{ font-weight:500;   font-size:65px; margin-top:25px;letter-spacing:-2px;}
h2{font-weight:900; border-left:5px solid #EE5F00; padding-left: 15px;}
span{  font-weight:600; }
li{ list-style-type: none; }
table {width: 100%;}
td,th{height: 40px; cursor: pointer;}
td{font-size: 13px; padding-left: 10px;}

iframe{ background: #000; border: none;}
.trans{ -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }
.hidden {display:none!important;}

/****colores****/
.text-white{ color:white; }
.text-black{ color:#000; }
.white{ background-color: white ; }
.black { background: #000!important;}
.purple{background-color: #223845;}
.light-gray{background-color: #333;}
.light-black{background-color: #000;}

/**** left/right ****/
.text-right { text-align: right; }
.text-center{text-align: center;}
.strong{font-weight: 900;}
.left{ width:50%; position: relative; left: 0; float: left; }
.right{ width:49.5%; position: relative; right: 0; float: right;}

/**** Columnas ****/
.column2{width: 50%; float:left;  }
.column4{width: 14.5%; float: left; padding: 0 5%; min-height: 180px;}


/****Botones****/
.btn2{ margin-top:-10px; padding-right: 20px; font-size: 16px;}
.btn2:hover{ color:#EE5F00; }


/****Borders****/
.border-right{border-right: solid 1px #f2f2f2;}
.border-bottom{border-bottom:solid 3px #223845;}
.border-white{border:solid 1px #f2f2f2; border-radius: 5px;}
.border-gray{border:solid 1px #333; border-radius: 5px;}

/****Forms****/
button{border:none; padding: 6px;}
input {padding: 5px; }

/**Header*/
header { margin-bottom: 10px;}
header menu {margin: 15px 0; height: 40px; box-shadow: 0 1px 2px rgba(0,0,0,.1); background: #fff}
header menu .menu-logo{width: 10%; float:left; margin: 0 5% 0 0;}
header menu .menu-logo img{ width: 140%; margin: -10px 0 0 -20px;}
header menu .menu-search{width: 35%; float:left; position: relative;  margin-top: -1px;}
header menu .menu-search input{min-width: 350px; text-align: right; width: 90%; float:left; padding: 11px 0;border: 1px solid #b3b3b3; border-radius: 5px; margin-top: 0px;}
header menu .menu-search button{ width: 8%; float: left; padding:7px 0; border:1px solid #b3b3b3; cursor: pointer; margin-left: -4px; margin-top: 0px;}
header menu .menu-search button:hover{ background: #fff; }
header menu .menu-options{width: 50%; float: right; max-height: 40px; padding: 1px 0;}
header menu .menu-options ul{margin: 5px;}
header menu .menu-options li{display: inline-block; padding: 0 5px;}

main{ min-height: 1000px;}

/*TV*/
#tv {min-height: 350px; padding: 10px 0; }
#tv iframe{    min-width: 406px; min-height: 350px; padding: 0 50px;}

/* corouseles */
#corousel{ background:none; border-bottom:1px solid #e3e3e3; }
#corousel .channel{ position: relative;}
#corousel .img{ display:block; max-width:150px; width:auto; border:1px solid #e3e3e3; max-height:100px; background: #f2f2f2; padding: 25px;}
#corousel .btn1{  position:absolute; z-index: 999; max-width: 35px!important;  bottom: 15px; display: none;  cursor:pointer; left: 25px;}
#corousel .btn2{  position:absolute; z-index: 999; max-width: 35px!important;  bottom: 15px; display: none;  cursor:pointer; left: 65px; width: 28px;}
#corousel .channel:hover img{ display: block;}
#corousel slick{ padding: 15px; }

.mytv .img{ background: none!important; }




#download img{ width:200px; display:block; margin: 60px auto 0; }

footer{ background-color:#223845; color: white;}
footer .cols{min-height: 400px; padding: 20px 0;}
footer .firma{background-color: #42405D; padding: 30px; max-height: 80px;}
footer .firma p, footer .firma a{ font-size: 10px;}
footer .firma a{ font-weight: 900;}


/*Responsive*/
// @media only screen and (max-width: 850px){
// 	.column2{width: 100%;}
// 	.column4{width: 80%; padding: 0 10%; text-align: center; min-height: 10px;}

// 	header menu .menu-logo{    width: 30%; margin: 0 4% 0 0; }
// 	header menu .menu-logo img{     width: 100%; margin-top: -20px; }
// 	header menu .menu-search{ width: 65%; }
// 	header menu .menu-options{ width:100%; margin-left: -20px; }
// }